<form
  class="todo-create-container"
  [formGroup]="todoForm"
  (ngSubmit)="onSubmit()"
>
  <h2>Create a New Todo</h2>

  <label>
    Title:
    <input type="text" formControlName="title" placeholder="Enter title" />
  </label>
  <div
    class="error"
    *ngIf="
      (todoForm.get('title')?.touched || submitted) &&
      todoForm.get('title')?.invalid
    "
  >
    <small *ngIf="todoForm.get('title')?.errors?.['required']"
      >Title is required</small
    >
    <small *ngIf="todoForm.get('title')?.errors?.['minlength']"
      >Title must be at least 3 characters</small
    >
    <small *ngIf="todoForm.get('title')?.errors?.['maxlength']"
      >Title cannot exceed 50 characters</small
    >
  </div>

  <label>
    Description:
    <textarea
      cols="10"
      rows="10"
      formControlName="description"
      placeholder="Enter description"
    ></textarea>
  </label>
  <div
    class="error"
    *ngIf="
      (todoForm.get('description')?.touched || submitted) &&
      todoForm.get('description')?.invalid
    "
  >
    <small *ngIf="todoForm.get('description')?.errors?.['required']"
      >Description is required</small
    >
    <small *ngIf="todoForm.get('description')?.errors?.['minlength']"
      >Description must be at least 10 characters</small
    >
  </div>

  <label>
    Status:
    <select formControlName="status">
      <option *ngFor="let option of todoStatusOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>
  </label>
  <div
    class="error"
    *ngIf="
      (todoForm.get('status')?.touched || submitted) &&
      todoForm.get('status')?.invalid
    "
  >
    <small *ngIf="todoForm.get('status')?.errors?.['required']"
      >Status is required</small
    >
  </div>

  <button type="submit" [disabled]="todoForm.invalid || isLoading()">
    {{ isLoading() ? "Saving..." : "Add Todo" }}
  </button>
</form>
